# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# Parquet and output data
*.parquet
output_partitioned_parquet/
iceberg_warehouse/
catalog.db

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
